In [1]:
from sqlalchemy import create_engine
import IPython
import psycopg2 as pg
import pgspecial

In [2]:
%load_ext sql

In [3]:
engine = create_engine('postgresql://postgres:password@localhost:5432/airport')

%sql $engine.url

'Connected: postgres@airport'

### Creating tables

In [4]:
%%sql

CREATE TABLE terminals (
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL
);

CREATE TABLE gates (
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    terminal_id INTEGER NOT NULL,
    FOREIGN KEY (terminal_id) REFERENCES terminals(id)
);

CREATE TABLE destinations (
    id SERIAL PRIMARY KEY,
    iata_code VARCHAR(255) NOT NULL,
    name VARCHAR(255) NOT NULL,
    country VARCHAR(255) NOT NULL
);

CREATE TABLE airlines (
    id SERIAL PRIMARY KEY,
    icao_code VARCHAR(255) NOT NULL,
    name VARCHAR(255) NOT NULL,
    country VARCHAR(255) NOT NULL
);

CREATE TABLE flights (
    id SERIAL PRIMARY KEY,
    airline_id INTEGER NOT NULL,
    flight_number VARCHAR(255) NOT NULL,
    destination_id INTEGER NOT NULL,
    departure_time TIMESTAMP NOT NULL,
    arrival_time TIMESTAMP NOT NULL,
    gate_id INTEGER NOT NULL,
    FOREIGN KEY (airline_id) REFERENCES airlines(id),
    FOREIGN KEY (destination_id) REFERENCES destinations(id),
    FOREIGN KEY (gate_id) REFERENCES gates(id)
);

CREATE TABLE passengers (
    id SERIAL PRIMARY KEY,
    first_name VARCHAR(255) NOT NULL,
    last_name VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL,
    phone VARCHAR(255) NOT NULL,
    passport_num VARCHAR(255),
    flight_id INTEGER NOT NULL,
    FOREIGN KEY (flight_id) REFERENCES flights(id)
);

CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    first_name VARCHAR(255) NOT NULL,
    last_name VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL,
    phone VARCHAR(255) NOT NULL,
    position VARCHAR(255) NOT NULL,
    terminal_id INTEGER NOT NULL,
    FOREIGN KEY (terminal_id) REFERENCES terminals(id)
);

CREATE TABLE planes (
    id SERIAL PRIMARY KEY,
    registration VARCHAR(255),
    plane_type VARCHAR (255),
    airline_id INTEGER NOT NULL,
    flight_id INTEGER,
    FOREIGN KEY (airline_id) REFERENCES airlines(id),
    FOREIGN KEY (flight_id) REFERENCES flights(id)

)

 * postgresql://postgres:***@localhost:5432/airport
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]